.startup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.startup .VB_TEXT {
    font-size: 8vw;
    letter-spacing: 2vw;
    opacity: 0%;
    transform: translateY(100px);
    transition: ease-out 0.3s;
    animation: VEILBYTE_anim_startup_header 1.25s ease-out forwards;
}

.startup .coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 5px;
    animation: VEILBYTE_anim_startup_header 1.25s ease-out forwards;
}

.startup .coming-soon .VB_COMING_SOON,
.startup .coming-soon .VB_DATE {
    font-size: 1vw;
    letter-spacing: 0.5vw;
    text-align: left;
}

@media screen and (max-width: 768px) {

    .startup {
        flex-direction: column; /* did a little typo.. */
    }
    
    .startup .VB_TEXT {
        font-size: 10vw;
        letter-spacing: 1.5vw;
    }

    .startup .coming-soon .VB_COMING_SOON,
    .startup .coming-soon .VB_DATE {
        font-size: 1vw;
    }
}

@media screen and (max-width: 480px) {

    .startup {
        flex-direction: column; /* copy-pasted the little typo.. */
    }
    
    .startup .VB_TEXT {
        font-size: 12vw;
        letter-spacing: 1vw;
    }

    .startup .coming-soon .VB_COMING_SOON,
    .startup .coming-soon .VB_DATE {
        font-size: 1vw;
        letter-spacing: 0.5vw;
    }
}

@keyframes VEILBYTE_anim_startup_header {
    0% {
        opacity: 0%;
        transform: translateY(100px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}
